body {
  margin: 0;
  padding: 0;
  font-family: 'Lustria',
  serif;
}
.bg-img {
  background-image: url(/images/done.jpg);
  background-attachment: fixed;
  background-size: cover;
  
  background-position: center center;
  background-repeat: no-repeat;
}

.name {
  font-size: 70pt;
  
}