body {
  margin: 0;
  padding: 0;
  font-family: 'Lustria', serif;
  min-height: 100%;
  
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;

}

.bg-img {
  background-image: url(/images/done.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.name {
  font-size: 70pt;
}

.footie {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#root > div {
  position: relative;
}

#root > div::after {
  display: block;
  content: '';
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: url(/images/done.jpg) no-repeat center center fixed;
  opacity: 0.33; 
  z-index: -1;
}

